@import "tailwindcss";

/* Hide number input spin buttons (Chrome, Safari, Edge, Opera) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spin buttons (Firefox) */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}